.box {
  min-width: 20rem;
  max-width: fit-content;
  padding: 0 2%;
  border: 1px solid white;
  height: 3rem;
  border-radius: 5px;
  background-color: rgb(194, 194, 194);
  box-shadow: 0px 5px 0px rgb(46, 46, 46);
  margin-top: 25px;
  margin-bottom: -3%;
}

.inner {
  font-family: 'Verdana', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 2%;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg) scale(1.25);
  }
  25% {
    trasnform: rotate(-5deg) scale(1.2);
  }
  40% {
    transform: rotate(5deg) scale(1.25);
  }
  85% {
    transform: rotate(-5deg) scale(1.2);
  }
  95% {
    transform: rotate(5deg) scale(1.25);
  }
  100% {
    transform: rotate(0deg) scale(1.2);
  }
}

.icon {
  animation: wiggle 1.5s infinite;
}

.main {
  display: flex;
  justify-content: center;
}
