@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&family=Poppins&family=Questrial&display=swap');

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  background-color: rgba(167, 167, 167, 0.55);
  border-radius: 3px;
  width: 825px;
  height: auto;
  max-height: fit-content;
  padding: 2% 3%;
}

.container:hover {
  background-color: rgba(222, 222, 222, 0.75);
}

.hashtag {
  border: 1px solid white;
  background-color: rgba(90, 90, 90, 0.75);
  color: white;
  border-radius: 15px;
  width: fit-content;
  height: fit-content;
  padding: 0 10px;
  margin-bottom: 1%;

  p {
    align-self: center;
    margin-bottom: 1%;
  }
}

.hashtag:hover {
  background-color: rgba(255, 255, 255, 0.75);
  color: gray;
  cursor: pointer;
}

.paragraph {
  max-height: 150px;
  overflow: hidden;
  font-family: Helvetica, sans-serif;
}

.thoughts {
  display: flex;
  flex-direction: row;
  gap: 3%;
  margin-top: 2%;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.title:hover {
  text-decoration: underline;
}

.likes:hover {
  color: white;
}

.favorite:active {
  color: red;
  transform: scale(1.25);
}
.comments:hover {
  color: white;
}

.dislikes:hover {
  color: white;
}

.bad:active {
  color: red;
  transform: scale(1.25);
}

@media (max-width: 900px) {
  .container {
    max-width: 360px;
  }
}

.top {
  display: flex;
  flex-direction: row;
  gap: 2%;
}
